<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista prouctos</title>
</head>
<body>
    <h1>Listar Departementos</h1>

    <a href="{% url 'agregar_producto' %}">Agregar Producto</a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Codigo</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in prodcutos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>
                        <a href="{% url 'modificar_producto' producto.id %}">Modificar</a> |
                        <a href="{% url 'eliminar_producto' prodcuto.id %}">Eliminar</a> |
                        <a href="{% url 'buscar_producto' %}">Buscar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No hay productos registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>